

.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 180px;
}
/* sheard style */
.secondary-bg{
    background-color: #FFF8F3;
}

.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 32px;
    border-radius: 5px;
    box-shadow: 3px 7px 9px rgb(32, 1, 1);
    gap: 30px;
    
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.secton-decription{
    font-size: 18px;
    color: #757575;
}
    

.header{
    background-image: url(/developer.png),url(/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}
.btn-primary:hover{
    cursor: wait;
    transition: 0.5s;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav ul a{
    text-decoration: none;
    font-size: 20px;
    
}
.text-center{
    text-align: center;
}
/* bannar style */
.lastbtn{
    margin-top: 20px;
}
.bannar{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.bannar-content{
    max-width: 580px;
    
}

.bannar-greatings{
    font-size: 45px;
    font-weight: 600;
}
.bannar-title{
    font-weight: bold;
    font-size: 85px;
}
.bannar-deccription{
    font-size: 18px;
    font-weight: 400;
}
.bannar-profile-pi{
    width: 584;
    height: 676;
}
/* main style */
.main{
    max-width: 1440px;
    margin: 0 auto;
}
main section{
    margin: 120px;
}


/* about style */
    .about{
        border-radius: 10px;
        padding: 130px 150px;
        text-align: center;
        
    }
    .about-items{
        display: flex;
        justify-content: space-around;
    }

    .item-description{
        font-weight: 600;
    }
    /* skils style */
    .skill-container{
        display: flex;
        gap: 24px;
        
    }
    .skill{
        padding: 30px;
        box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    }
    /* Reseme stile */
    .section-title{
        text-align: center;
        font-size: 35px;

    }
    .resume-column-title{
        font-size: 30px;
        font-weight: 800;
    }
    .resume-column-title{
        font-size: 30px;
        font-weight: 800;
    }
    .resume-container{
        display: flex;
        gap: 24px;
    }
    .exprience-tirle{
        font-size: 25px;
    }
    .exprience-sub-title{
        font-size: 20px;
        font-weight: 600;
        color: #757575;
    }
    .exprience-desription{
        color: #757575;
        font-weight: 400;
        font-size: 16px;
    }
    /* Button related stile */
   .btn-Download-cv{
    text-align: center;
    margin-top: 50px;
   }
   /* Footer style */
   .Footer-title{
    font-size: 35px;
    font-weight: 800;
   }
   .section-discreption{
    color: #474747;
    font-size: 16px;
    font-weight: 400;
   }
  footer{
    padding: 130px 230px;
    display: flex;
    gap: 70px;
  }


   footer input[type="text"], footer input[type="email"], footer textarea{
     height: 64px;
     width: 100%;
     padding: 18px 30px;
     border-radius: 5px;
     font-size: 16px;
     margin-top: 14px;
     border: none;
     
     
   }
    
   @media screen and (max-width: 576px) {
        .secondary-bg{
            width: 100%;
        }
   }
   
  